---
---

<footer>
  <div class="flex space-x-2 text-sm text-gray-500 dark:text-gray-400">
    <div>小亦</div>
    <div> • </div>
    <div>smallalso</div>
    <div> • </div>
    <div>© 2024</div>
    <div> • </div>
    <a href="/">博客</a>
  </div>
</footer>
